@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background: #141414;
    color: #fff;
    cursor: default;
    line-height: 1.2;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
} */


@font-face {
  font-family: Stem;
  src: url('../public/Stem/stem.ttf');
}

.image-opacity:before {
  background-image: linear-gradient(198deg,rgba(0,0,0,.9),hsla(0,0%,9%,.5) 20%,transparent 28%);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

body {
  background-color: rgb(158, 121, 121);
  color: white;
  overflow-x: hidden;
  font-family: Stem, 'sans-serif';
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.header__bg {
  background-image: url(../assets/header/bg.png);
}

@layer base {
    
    header {
      @apply fixed top-0 z-50 w-full flex items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
    }
  }
  
  @layer components {
    .headerLink {
      @apply text-sm font-light text-[#e5e5e5] duration-150 transition-all hover:text-[#b3b3b3];
    }
  
    .bannerButton {
      @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
    }

    .modal-button {
      @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
    }
  }

